#DivFormLogin{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-family: 'Helvetica';
}

#DivLogo{
    width: 50%;
    height:100vh;
    background-color: #e6f5f8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica';
}

#Logo{
    width: 30%;
    height: 30%;
}