#contactCard {
    width: 90%;
    position : flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}
#contactCardOptions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}